button {
	border: none;
	background: none;

	cursor: pointer;
}

body {
	margin: 0;
	background-image: url(bg.png);
	background-size: cover;
	background-position: center;
}

#container {
	position: relative;
	margin: auto; /* center horizontally */
	aspect-ratio: 320/400;
	background-image: url(meniubg.svg);
	height: 100vh;
	padding: 5vh 5vh;
	box-sizing: border-box;

	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;

	padding: 10vh 7vh; /* Position of the title */
}

#authentication {
	display: flex;
	flex-direction: column; /* buttons come one after another vertically */
	align-items: center; /* and are centered horizontally */
	gap: 6vh; /* spacing between the buttons */
}

#authentication button {
	width: 60%;
}

#infos {
	position: absolute;
	bottom: 8vh;
	right: 8vh;
}

#infos button {
	margin: 1vh;
}

#infos img {
	width: 10vh;
}

#container > div {
	display: none; /* by default, hide all screens */
}

#gamearea {
	position: relative;
	display: block;
	width: 600px;
	height: 600px;
	background: white;
}

.game-object {
	position: absolute;
	width: 10px; height: 10px; background: black;
	padding: -5px;
}

.current-screen-main #screen-main,
.current-screen-about #screen-about,
.current-screen-rules #screen-rules,
.current-screen-game #screen-game {
	display: initial;
}
